@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


.container {
    height: calc(100vh - 100px);
    background-color: #D1333C;
    overflow: hidden;
    position: relative;
  }
  
  .arrowContainer {
    position: absolute;
    width: 5%;
    height: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
  }
  
  .wrapper {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1.5s ease-in-out ;
  }

  .slider{
    width: 100vw;
    display: flex;
  }
  
  .infoContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 100px;
    gap: 10px;
  }

  .button{
    z-index: 9;
    background-color: rgb(81, 190, 66);
    font-family: "Roboto Condensed";
    cursor: pointer;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    height: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    width: 178px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 20px;
    border-color: rgb(0, 0, 0);
    padding: 20px 30px;
    border-radius: 3px;
    transform-origin: 50% 50%;
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    border-width: 0px;
    border-style: solid;
    margin: 20px;
    cursor: pointer
}

.button:hover{
    background-color: rgb(58, 61, 73);
}

.title{
    font-family: Oswald;
    width: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    height: 64px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 22px;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 86px;
    transform-origin: 50% 50%;
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    margin: 20px;
}

.desc{
    z-index: 6;
    font-family: Oswald;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    width: 240px;
    height: 64px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 22px;
    letter-spacing: 0px;
    font-weight: 200;
    font-size: 50px;
    transform-origin: 50% 50%;
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    margin: 20px;
}

  .imgContainer {
    flex: 2;
    height: 100%;
    position: relative;
  }

  .img{
    min-width: 90% !important;
    max-width: 90% !important;
  }
  
  @media screen and (max-width: 480px) {
    .container{
      height: 50vh;
    }
  }