@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.container{
    width: 22%;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px 40px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 4px;
}

.container:hover{
    border: 1px solid rgba(197,186,185,0.5);
}

.title{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #3A3D49;
}

.desc{
    font-family: "Roboto",sans-serif !important;
    font-size: 14px;
    line-height: 21px;
    color: #777A83;
}

.button{
    background-color: #FFD141;
    color: #3A3D49;
    margin-top: 13px;
    font-family: "Roboto",sans-serif;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 7px 25px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    border: none;
    outline: none;
    cursor: pointer;
}

.button:hover{
    background-color: #b7903c;
}


@media screen and (max-width:480px) {
    .container{
        width: 100%;
    }

    .title{
        font-size: 30px;
    }

    .price, .desc{
        font-size: 24px;
    }
}
